In [6]:
import pandas as pd

df_all = pd.read_csv('./Contributions-18-02-13-clean.csv')

In [63]:
IDS_OF_INTEREST = [
    (20175032103, "Michael Dougherty"),
    (20175032321, "Amy Padden"),
    (20175032143, "Brad Levin"),
    (20175031960, "Joe Salazar")
]

In [7]:
df_all['person'] = df_all['FirstName'] + ' ' + df_all['LastName'] + ' ' + df_all['Address1'] + ' ' + df_all['City']
df_all['colorado'] = df_all.State == 'CO'

In [71]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [74]:
from IPython.display import display

def do_the_thang(df):
    contribs_by_person = df.groupby('person').ContributionAmount.sum()
    occupation_count = df.Occupation.count()
    df['Occupation'] = df['Occupation'].fillna('Undisclosed')

    print('''There are {} donations ({} unique people). {} of them have an occupation listed, {} have additional occupation comments.

The average contribution is ${:.2f}

Biggest donations:
{}

Breakdown by occupation:
{}

Number of donors at max donation ($1150): {}

Occupational breakdown for top donors (those who donated $1150):
{}

Proportion of donations (by count) from out of state: {:.2f}
Proportion of donations (by money) from out of state: {:.2f}
    '''.format(
            df.shape[0],
            df.person.nunique(),
            occupation_count,
            df.OccupationComments.count(),
            df.ContributionAmount.mean(),
            df.sort_values(by='ContributionAmount', ascending=False).head().reset_index(drop=True)[['ContributionAmount', 'FirstName', 'LastName', 'City', 'State', 'Occupation']],
            df.Occupation.value_counts(),
            (contribs_by_person == 1150).sum(),
            df[df.person.isin(contribs_by_person[contribs_by_person == 1150].index)].groupby('person').first().Occupation.value_counts(),
            (df.shape[0] - df.colorado.sum()) / df.shape[0],
            df[~df.colorado].ContributionAmount.sum() / df.ContributionAmount.sum()
         ))

    asdf = df.groupby(['Occupation', 'colorado']).CO_ID.count().unstack().reset_index()
    asdf['proportion_out_of_state'] = asdf[False].fillna(0) / (asdf[False].fillna(0) + asdf[True])
    asdf['n'] = asdf[False].fillna(0) + asdf[True]
    asdf.drop([False, True], axis=1, inplace=True)

    print("\nProportion of donors from out of state, by occupation:")
    display(asdf.sort_values(by='proportion_out_of_state', ascending=False).reset_index(drop=True))
    
    print("\nSummary statistics for different occupations:")
    display(df.groupby("Occupation").ContributionAmount.agg({'mean': 'mean', 'n': 'count', 'sum': 'sum'}).sort_values(by='sum', ascending=False))

In [75]:
for coid, person in IDS_OF_INTEREST:
    print("\n\n\nSUMMARY FOR {} (Secretary of State ID: {})".format(person, coid))
    do_the_thang(df[df.CO_ID == coid])

SUMMARY FOR Michael Dougherty (Secretary of State ID: 20175032103)
There are 941 donations (625 unique people). 931 of them have an occupation listed, 15 have additional occupation comments.

The average contribution is $147.41

Biggest donations:
   ContributionAmount FirstName                   LastName      City State  \
0             15000.0       NaN  COLORADO DEMOCRATIC PARTY    DENVER    CO
1              1150.0   MELISSA                  BEARDMORE   CROFTON    MD
2              1150.0  DANIELLE                  DOUGHERTY   BOULDER    CO
3              1150.0     KARYN                   KORNFELD  NEW YORK    NY
4              1150.0    STEVEN                      KOBRE  NEW YORK    NY

               Occupation
0             Undisclosed
1       Teacher/Education
2      Healthcare/Medical
3  Not Currently Employed
4          Attorney/Legal

Breakdown by occupation:
Attorney/Legal                           441
Not Currently Employed                   139
Teacher/Education                         49
Consultant                                43
General Business                          36
Law Enforcement                           31
Healthcare/Medical                        28
Real Estate Professional                  25
Government/Civil                          25
Financial/Investment                      19
Retired                                   18
Other                                     15
Science/Technology                        12
Undisclosed                               10
Media/Public Relations                     9
Student                                    8
Construction/Engineering                   8
Agriculture                                6
Office and Administrative Occupations      5
Homemaker                                  4
Food Services                              3
Insurance Industry                         2
Environmental Services                     2
Firefighters/Paramedics                    1
Clergy/Faith-based                         1
Automotive Industry                        1
Name: Occupation, dtype: int64

Number of donors at max donation ($1150): 24

Occupational breakdown for top donors (those who donated $1150):
Not Currently Employed      8
Attorney/Legal              6
Healthcare/Medical          3
Teacher/Education           3
Real Estate Professional    2
General Business            1
Consultant                  1
Name: Occupation, dtype: int64

Proportion of donations (by count) from out of state: 0.46
Proportion of donations (by money) from out of state: 0.51


Proportion of donors from out of state, by occupation:

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

colorado,Occupation,proportion_out_of_state,n
0,Office and Administrative Occupations,0.800000,5.0
1,Real Estate Professional,0.680000,25.0
2,Other,0.600000,15.0
3,Financial/Investment,0.578947,19.0
4,Media/Public Relations,0.555556,9.0
5,Teacher/Education,0.510204,49.0
6,Attorney/Legal,0.503401,441.0
7,Construction/Engineering,0.500000,8.0
8,General Business,0.500000,36.0
9,Not Currently Employed,0.446043,139.0
10,Undisclosed,0.400000,10.0
11,Consultant,0.395349,43.0
12,Student,0.375000,8.0
13,Food Services,0.333333,3.0
14,Science/Technology,0.333333,12.0
15,Healthcare/Medical,0.321429,28.0
16,Retired,0.166667,18.0
17,Law Enforcement,0.161290,31.0
18,Government/Civil,0.120000,25.0
19,Agriculture,0.000000,6.0
20,Environmental Services,0.000000,2.0
21,Automotive Industry,0.000000,1.0
22,Homemaker,0.000000,4.0
23,Clergy/Faith-based,NaN,NaN
24,Firefighters/Paramedics,NaN,NaN
25,Insurance Industry,NaN,NaN

Summary statistics for different occupations:

                                            sum         mean    n
Occupation
Attorney/Legal                         57777.31   131.014308  441
Not Currently Employed                 22030.00   158.489209  139
Undisclosed                            16569.00  1656.900000   10
Teacher/Education                       7060.00   144.081633   49
Healthcare/Medical                      6492.12   231.861429   28
General Business                        5144.29   142.896944   36
Consultant                              4830.00   112.325581   43
Real Estate Professional                4150.00   166.000000   25
Financial/Investment                    3850.00   202.631579   19
Law Enforcement                         2280.00    73.548387   31
Government/Civil                        1930.00    77.200000   25
Retired                                 1765.00    98.055556   18
Other                                   1480.00    98.666667   15
Construction/Engineering                 665.00    83.125000    8
Media/Public Relations                   575.00    63.888889    9
Homemaker                                524.00   131.000000    4
Science/Technology                       450.00    37.500000   12
Food Services                            265.00    88.333333    3
Firefighters/Paramedics                  250.00   250.000000    1
Office and Administrative Occupations    205.00    41.000000    5
Agriculture                              130.00    21.666667    6
Student                                  125.00    15.625000    8
Insurance Industry                        75.00    37.500000    2
Automotive Industry                       50.00    50.000000    1
Environmental Services                    40.00    20.000000    2
Clergy/Faith-based                         5.00     5.000000    1

SUMMARY FOR Amy Padden (Secretary of State ID: 20175032321)
There are 535 donations (428 unique people). 376 of them have an occupation listed, 11 have additional occupation comments.

The average contribution is $208.03

Biggest donations:
   ContributionAmount  FirstName LastName               City State  \
0              5000.0        AMY   PADDEN             DENVER    CO
1              2000.0  CHRISTINE  ENGLEBY        CASTLE ROCK    CO
2              2000.0        AMY   PADDEN             DENVER    CO
3              1150.0        PAM   TROYER             DENVER    CO
4              1150.0     THOMAS    WALSH  STEAMBOAT SPRINGS    CO

          Occupation
0        Undisclosed
1            Retired
2        Undisclosed
3  Teacher/Education
4   General Business

Breakdown by occupation:
Undisclosed                              159
Attorney/Legal                           119
Not Currently Employed                    49
General Business                          48
Healthcare/Medical                        32
Financial/Investment                      19
Real Estate Professional                  18
Consultant                                15
Other                                     13
Retired                                   13
Teacher/Education                         10
Science/Technology                         9
Law Enforcement                            6
Construction/Engineering                   4
Mining/Energy                              4
Retail Sales                               3
Media/Public Relations                     3
Government/Civil                           3
Office and Administrative Occupations      2
Food Services                              2
Firefighters/Paramedics                    2
Homemaker                                  1
Insurance Industry                         1
Name: Occupation, dtype: int64

Number of donors at max donation ($1150): 35

Occupational breakdown for top donors (those who donated $1150):
Attorney/Legal              10
Retired                      5
Not Currently Employed       5
General Business             3
Mining/Energy                2
Real Estate Professional     2
Financial/Investment         2
Other                        1
Retail Sales                 1
Media/Public Relations       1
Teacher/Education            1
Law Enforcement              1
Insurance Industry           1
Name: Occupation, dtype: int64

Proportion of donations (by count) from out of state: 0.34
Proportion of donations (by money) from out of state: 0.38


Proportion of donors from out of state, by occupation:

colorado,Occupation,proportion_out_of_state,n
0,Financial/Investment,0.736842,19.0
1,Media/Public Relations,0.666667,3.0
2,Law Enforcement,0.666667,6.0
3,Consultant,0.533333,15.0
4,Teacher/Education,0.500000,10.0
5,Retired,0.461538,13.0
6,Not Currently Employed,0.428571,49.0
7,Healthcare/Medical,0.375000,32.0
8,Attorney/Legal,0.369748,119.0
9,Undisclosed,0.308176,159.0
10,General Business,0.229167,48.0
11,Science/Technology,0.222222,9.0
12,Other,0.153846,13.0
13,Homemaker,0.000000,1.0
14,Government/Civil,0.000000,3.0
15,Construction/Engineering,0.000000,4.0
16,Mining/Energy,0.000000,4.0
17,Office and Administrative Occupations,0.000000,2.0
18,Real Estate Professional,0.000000,18.0
19,Retail Sales,0.000000,3.0
20,Food Services,0.000000,2.0
21,Firefighters/Paramedics,0.000000,2.0
22,Insurance Industry,NaN,NaN

Summary statistics for different occupations:

                                            sum         mean    n
Occupation
Attorney/Legal                         34114.40   286.675630  119
Undisclosed                            14178.99    89.176038  159
Not Currently Employed                 13005.00   265.408163   49
General Business                        9600.00   200.000000   48
Retired                                 9425.00   725.000000   13
Financial/Investment                    4940.00   260.000000   19
Real Estate Professional                3915.00   217.500000   18
Healthcare/Medical                      3700.00   115.625000   32
Mining/Energy                           2900.00   725.000000    4
Other                                   2585.00   198.846154   13
Consultant                              2270.00   151.333333   15
Law Enforcement                         1950.00   325.000000    6
Teacher/Education                       1785.00   178.500000   10
Retail Sales                            1450.00   483.333333    3
Media/Public Relations                  1175.00   391.666667    3
Insurance Industry                      1150.00  1150.000000    1
Firefighters/Paramedics                  825.00   412.500000    2
Science/Technology                       810.00    90.000000    9
Food Services                            450.00   225.000000    2
Construction/Engineering                 320.00    80.000000    4
Homemaker                                300.00   300.000000    1
Office and Administrative Occupations    250.00   125.000000    2
Government/Civil                         200.00    66.666667    3

SUMMARY FOR Brad Levin (Secretary of State ID: 20175032143)
There are 608 donations (544 unique people). 576 of them have an occupation listed, 18 have additional occupation comments.

The average contribution is $443.40

Biggest donations:
   ContributionAmount FirstName                   LastName    City State  \
0             20000.0      BRAD                      LEVIN  DENVER    CO
1             15000.0       NaN  COLORADO DEMOCRATIC PARTY  DENVER    CO
2             10000.0      BRAD                      LEVIN  DENVER    CO
3              5000.0      BRAD                      LEVIN  DENVER    CO
4              5000.0      BRAD                      LEVIN  DENVER    CO

    Occupation
0  Undisclosed
1  Undisclosed
2  Undisclosed
3  Undisclosed
4  Undisclosed

Breakdown by occupation:
Attorney/Legal                           318
Retired                                   65
Consultant                                34
Undisclosed                               32
General Business                          28
Not Currently Employed                    18
Financial/Investment                      18
Other                                     18
Real Estate Professional                  17
Healthcare/Medical                        15
Homemaker                                  8
Retail Sales                               8
Science/Technology                         5
Student                                    4
Media/Public Relations                     4
Construction/Engineering                   4
Office and Administrative Occupations      3
Teacher/Education                          3
Food Services                              2
Mining/Energy                              1
Automotive Industry                        1
Unknown                                    1
Environmental Services                     1
Name: Occupation, dtype: int64

Number of donors at max donation ($1150): 78

Occupational breakdown for top donors (those who donated $1150):
Attorney/Legal              28
Retired                     16
Not Currently Employed       6
Real Estate Professional     6
Consultant                   4
General Business             3
Healthcare/Medical           3
Student                      2
Other                        2
Science/Technology           2
Homemaker                    2
Financial/Investment         1
Retail Sales                 1
Media/Public Relations       1
Construction/Engineering     1
Name: Occupation, dtype: int64

Proportion of donations (by count) from out of state: 0.07
Proportion of donations (by money) from out of state: 0.07


Proportion of donors from out of state, by occupation:

colorado,Occupation,proportion_out_of_state,n
0,Science/Technology,0.600000,5.0
1,Teacher/Education,0.333333,3.0
2,Consultant,0.294118,34.0
3,Student,0.250000,4.0
4,Homemaker,0.250000,8.0
5,Media/Public Relations,0.250000,4.0
6,Retired,0.169231,65.0
7,Financial/Investment,0.111111,18.0
8,Other,0.055556,18.0
9,Not Currently Employed,0.055556,18.0
10,General Business,0.035714,28.0
11,Attorney/Legal,0.031447,318.0
12,Retail Sales,0.000000,8.0
13,Real Estate Professional,0.000000,17.0
14,Mining/Energy,0.000000,1.0
15,Office and Administrative Occupations,0.000000,3.0
16,Automotive Industry,0.000000,1.0
17,Healthcare/Medical,0.000000,15.0
18,Food Services,0.000000,2.0
19,Environmental Services,0.000000,1.0
20,Construction/Engineering,0.000000,4.0
21,Undisclosed,0.000000,32.0
22,Unknown,NaN,NaN

Summary statistics for different occupations:

                                            sum         mean    n
Occupation
Attorney/Legal                         99375.00   312.500000  318
Undisclosed                            60487.97  1890.249063   32
Retired                                29750.00   457.692308   65
General Business                       11900.00   425.000000   28
Real Estate Professional               11600.00   682.352941   17
Not Currently Employed                 10150.00   563.888889   18
Consultant                              9377.00   275.794118   34
Financial/Investment                    6880.00   382.222222   18
Healthcare/Medical                      5500.00   366.666667   15
Other                                   5189.00   288.277778   18
Homemaker                               4475.00   559.375000    8
Retail Sales                            3525.00   440.625000    8
Science/Technology                      2616.00   523.200000    5
Student                                 2355.00   588.750000    4
Media/Public Relations                  2100.00   525.000000    4
Construction/Engineering                1710.00   427.500000    4
Teacher/Education                       1175.00   391.666667    3
Food Services                            300.00   150.000000    2
Mining/Energy                            250.00   250.000000    1
Environmental Services                   250.00   250.000000    1
Unknown                                  250.00   250.000000    1
Office and Administrative Occupations    225.00    75.000000    3
Automotive Industry                      150.00   150.000000    1

SUMMARY FOR Joe Salazar (Secretary of State ID: 20175031960)
There are 1033 donations (782 unique people). 347 of them have an occupation listed, 2 have additional occupation comments.

The average contribution is $56.28

Biggest donations:
   ContributionAmount    FirstName                 LastName         City  \
0             3418.07          NaN  FRIENDS FOR JOE SALAZAR     THORNTON
1             1150.00         KYLE                 ZEPPELIN       DENVER
2             1150.00        ANDRA                 ZEPPELIN       DENVER
3             1150.00  LORENZOALAN                 TRUJILLO  WESTMINSTER
4             1100.00      NOOSHIN                  FARJADI  WESTMINSTER

  State                Occupation
0    CO               Undisclosed
1    CO  Construction/Engineering
2    CO    Media/Public Relations
3    CO            Attorney/Legal
4    CO          General Business

Breakdown by occupation:
Undisclosed                              686
Not Currently Employed                    89
Retired                                   42
Government/Civil                          32
General Business                          32
Teacher/Education                         27
Attorney/Legal                            21
Consultant                                19
Healthcare/Medical                        18
Construction/Engineering                  18
Media/Public Relations                    17
Retail Sales                               8
Agriculture                                5
Food Services                              4
Science/Technology                         4
Real Estate Professional                   3
Lobbyist                                   2
Financial/Investment                       1
Other                                      1
Gaming Industry                            1
Insurance Industry                         1
Office and Administrative Occupations      1
Automotive Industry                        1
Name: Occupation, dtype: int64

Number of donors at max donation ($1150): 3

Occupational breakdown for top donors (those who donated $1150):
Media/Public Relations      1
Construction/Engineering    1
Attorney/Legal              1
Name: Occupation, dtype: int64

Proportion of donations (by count) from out of state: 0.21
Proportion of donations (by money) from out of state: 0.08


Proportion of donors from out of state, by occupation:

colorado,Occupation,proportion_out_of_state,n
0,Undisclosed,0.294461,686.0
1,Retail Sales,0.250000,8.0
2,Science/Technology,0.250000,4.0
3,Attorney/Legal,0.095238,21.0
4,Construction/Engineering,0.055556,18.0
5,Consultant,0.052632,19.0
6,Not Currently Employed,0.044944,89.0
7,Teacher/Education,0.037037,27.0
8,Food Services,0.000000,4.0
9,Retired,0.000000,42.0
10,Real Estate Professional,0.000000,3.0
11,Other,0.000000,1.0
12,Office and Administrative Occupations,0.000000,1.0
13,Financial/Investment,0.000000,1.0
14,Media/Public Relations,0.000000,17.0
15,Automotive Industry,0.000000,1.0
16,Insurance Industry,0.000000,1.0
17,Healthcare/Medical,0.000000,18.0
18,Government/Civil,0.000000,32.0
19,General Business,0.000000,32.0
20,Gaming Industry,0.000000,1.0
21,Lobbyist,0.000000,2.0
22,Agriculture,NaN,NaN

Summary statistics for different occupations:

                                            sum        mean    n
Occupation
Undisclosed                            20331.67   29.638003  686
Not Currently Employed                  7895.00   88.707865   89
General Business                        5215.00  162.968750   32
Retired                                 4278.80  101.876190   42
Attorney/Legal                          3362.00  160.095238   21
Government/Civil                        3202.00  100.062500   32
Teacher/Education                       2817.00  104.333333   27
Construction/Engineering                2359.00  131.055556   18
Consultant                              2038.00  107.263158   19
Media/Public Relations                  1952.00  114.823529   17
Healthcare/Medical                      1505.00   83.611111   18
Retail Sales                            1335.00  166.875000    8
Lobbyist                                 600.00  300.000000    2
Real Estate Professional                 377.00  125.666667    3
Science/Technology                       350.00   87.500000    4
Agriculture                              135.00   27.000000    5
Food Services                            111.00   27.750000    4
Office and Administrative Occupations    100.00  100.000000    1
Financial/Investment                     100.00  100.000000    1
Insurance Industry                        25.00   25.000000    1
Gaming Industry                           20.00   20.000000    1
Automotive Industry                       20.00   20.000000    1
Other                                     10.00   10.000000    1